body {
    background-image: url(pic.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.overlay1 {
    position: absolute;
    left: 5;
    top: 5;
    padding: .5rem;
    margin: 4px;
    background-image: url('overlay1.png');  
    background-position: top right;
}

.overlay2 {
    position: absolute;
    left: 5;
    bottom: 0;
    padding: 4rem;
    margin: 4px;
    background-image: url('overlay3.png');
    background-position: bottom left;
}


