/* General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 10px;
  background-color: #ccc;
  
}

/*Business card container */

.card { /* Chris Mills card*/

  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red; 
  border: 0.2em solid black;
  border-radius: 1.5em;
}


.card-sahba { /* My card*/

  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: #d4a373 ; 
  border-color: #84a98c;
  border-radius: 1.5em;
  font-family: 'Courier New', monospace;
  
}
/*Card contents */

.card article img {
  max-height: 100%;
  float: right;
}

.card article {
  height: 12em;
  background-color: rgba(0, 0, 0, 0.5); 
}

.card article p {
  padding-top: 10px;
  padding-left: 1em; 
  color: white;
}
/*Header styling for cards */

.card header { /*gradient */

  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}
.card header h2 {
  font-size: 2em;
  line-height: 30px;
}
/*Footer contents */

.card header,
.card footer {
  height: 5em; 
  padding: 1em; 
  box-sizing: border-box;
}
.card footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

}
.card footer p {
  font-size: 1.5em; 
  line-height: 30px;
}

h2, p {
  margin: 0;
}
/*end of card contents */